body {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  background-image: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  background-attachment: fixed;
  color: #FFFFFF;
}

h1{
  font-family: Cormorant SC, serif;
  font-size: 5vmin;
}

h2 {
  font-family: Merienda One, serif;
  font-size: 5vmin;
}

footer {
  text-align: right;
  font-family: Cormorant Garamond, serif;
  color: white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-left: 50px;
  top: 0;
  right: 0;
  left:0;
  width: 100%;
  font-family: Cormorant SC, serif;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
}

.nav-li a:hover, .nav-li a:active {
  color: white;
  background-color: #73644F;
  text-decoration: none;
}

.title {
  height: 200px;
  max-width: 600px;
  text-align: center;
  padding: 25px 25px 0px;
  margin: auto;
}

.title-image {
  margin: auto;
  width: 40%;
  border: 1px solid white;
  padding: 15px;
}

.white-border {
  background-color: #000000;
  border: 2px solid white;
  width: 100%;
  margin: auto;
  padding: 50px;
}


.trans-border {
  border-width: 2px;
  width: 100%;
  margin: auto;
  padding: 50px;
}

.text-list {
  font-family: Cormorant Garamond, serif;
  font-size: 3vmin;
}

.photo {
  margin: auto;
  width: 40%;
  border: 1px solid white;
  padding: 10px;
}

.text-center {
  text-align: center;
  line-height: 3.5;
}
